* {
	box-sizing: border-box; 
}

#display-map {
	width: 60%;
	float: left;
	margin: 10px;
}

.container {
	max-width: 1500px;
	padding: 0 20px;
	margin: 0 auto;
}

.container:before, 
.container:after {
	display: table;
	content: '';
}

.container:after {
	clear: both;
}

.venue-focus {

}

.venue-card, 
.venue-focus {
	float: left;
	padding-left: 1.04166666%;
  padding-right: 1.04166666%;
	margin: 10px;
}

.col-3, .col-5 {
	width: 100%;
}

@media only screen and (min-width: 640px) {
	.col-3 {
		width: 22.5%;
	}

	.col-5 {
		width: 36%;
	}
}