
body {
	font-family: 'Nunito', sans-serif;
	color: #312b30;
	margin: 0;
	background-color: #cdd5e0;
}

nav {
	background-color: #fbafaf;
	height: 60px;
	padding: 10px; 
}

nav h1 {
	margin: 0;
	display: inline;
}

a {
	text-decoration: none;
}

/* === SEARCH FORM === */
.search-form {
	display: inline;
	text-align: center;
	width: 500px;
	position: relative;
	margin: 0;
}

.above-map {
	right: -240px;
}

.center-map {
	bottom: -200px;
	right: -800px;
	z-index: 1; 
}

.nav-search {
	right: -300px;
	top: -50px;
}

.search-form label {
	font-size: 20px;
}

input {
/*	border-bottom: 4px solid #cdd5e0;
*/	font-size: 20px;
	margin: 0 auto;
	display: inline-block;
	height: 30px;
	width: 250px; 
	background-color: #f5eee6 !important;
}


#display-map {
	height: 400px;
	width: 60%;
}

h3, p {
	margin: 2px;
	padding: 4px;
}



/* === VENUE INFO === */

.venue-card, 
.venue-focus {
	border-radius: 5px;
	border: 2px solid #f5eee6;
}

.venue-card {
	height: 200px;
	background-color: #f5eee6;
}



.venue-focus {
	height: 400px;
	background-color: #99e1e5;
}

.venue-focus {

}

h5 {
	margin: 4px 0 1px;
}

.phone-number,
.review-description {
	font-size: 12px;
	padding: 10px 5px;
}

.food {
	color: green;
}

.no-food {
	color: purple;
}
