
body {
	font-family: 'Nunito', sans-serif;
	color: #312b30;
	margin: 0;
	background-color: #cdd5e0;
}

nav {
	background-color: #fbafaf;
	height: 60px;
	padding: 10px; 
}

nav h1 {
	margin: 0;
}

.search-form {
	text-align: center;
	width: 300px;
	position: relative;
}

.above-map {
	right: -240px;
}

.center-map {
	bottom: -200px;
	right: -800px;
	z-index: 1; 
}

.search-form label {
	font-size: 20px;
}

input {
	margin: 0 auto;
	display: block;
}


#display-map {
	height: 400px;
	width: 60%;
}

/*h3, p {
	margin: 5px;
}*/

.venue-card, 
.venue-focus {
	border-radius: 5px;
	border: 2px solid #f5eee6;
}

.venue-card {
	height: 200px;
	background-color: #f5eee6;
}

.venue-focus {
	height: 400px;
	background-color: #99e1e5;
}
